html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  @apply mb-5 block rounded-md bg-white shadow-lg
}

.button {
  @apply py-1 px-3 text-sm bg-[#6bbd99] hover:bg-[#87c9ac] text-white rounded-md transition font-semibold
}

input,
select,
textarea {
  @apply rounded border p-2  outline-none ring-[#addec8]  focus:ring;
}

.dropdown-link {
  @apply flex p-2 hover:bg-gray-200 rounded-md;
}
